<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/mp-hat/src/runner/Runner.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="runner.Runner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="predict E:/users/roylee.2013/MP-HAT/mp-hat/hat_data/Instagram  E:/users/roylee.2013/MP-HAT/mp-hat/hat_data/Instagram/4 TwitterLDA Test 4 0 0 E:/users/roylee.2013/MP-HAT/mp-hat/hat_data/Instagram/predict"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="mp-hat"/>
</launchConfiguration>
